<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'base/head.html' %}
    </head>
    <body  style = "background-color :  #f5f5f5">
        <header>
            {% include 'base/top_menu.html' %}
        </header>
        <main>
            <div class="container-fluid">
                <div class="row">

                    <div id="app" class = "col s12 main-analyze-content" style="margin-top:60px; padding: 0!important;">
                        {% block page_content %}
                        {% endblock page_content %}
                    </div>

                </div>
            </div>
        </main>
    </body>

    <script type="module">
        Vue.use(httpVueLoader);

        var app = new Vue({
            el: '#app',
            components:{
                'Simulations': 'url:/static/vue_pages/Simulations.vue',
                'SimulationForm': 'url:/static/vue_pages/SimulationForm.vue',
                'ViewSimulation': 'url:/static/vue_pages/ViewSimulation.vue',
            },
            mounted(){
                M.AutoInit();
            }
        });

    </script>

</html>